# OpenRouter API Key for the DeepSeek Auditor
OPENROUTER_API_KEY=your_openrouter_key_here

# PostgreSQL DB credentials (used by Docker Compose & Node app)
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_NAME=your_db_name_here
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql://lexicon_user:lexicon_password@localhost:5432/lexicon_db

# Arc Testnet Network Details
ARC_TESTNET_RPC_URL="https://rpc.testnet.arc.network"
USDC_ADDRESS="0x3600000000000000000000000000000000000000"

# Platform Wallet (Deployer & Oracle)
# Public Address: 0x3BF07a9E220427025216670D5a88a52A3FC0C7f0
DEPLOYER_PRIVATE_KEY="insert_private_key_here"

# Agent Wallets
# Public Address: 0x02Ce9CE0Eee1be0635266c3FeF02e0C9B1635730
AGENT_CN_MACRO_PK="insert_private_key_here"

# Public Address: 0x2CF5F93c519e6a9fd300E711aA582FCc40549280
AGENT_GENERIC_PK="insert_private_key_here"

# Public Address: 0xb3629f8d08e0205Ff0B2c73958D24B956FcD05cB
AGENT_ASIA_EXPERT_PK="insert_private_key_here"
